
<h1> All Recipes </h1>

<ul type = "list-style-type:square;">
  <p>  <% @recipes.each do |recipe| %> </p>
  <li>
    <%= link_to recipe.name, recipe  %>
  </li>
  <p><% end  %></p>
</ul>
<%= link_to "Add a new recipe to your list!", new_recipe_path %>
