<h2> Welcome!! </h2>

Here is a list of our events:

<p>  <% @events.each do |event| %> </p>
 <li>
    <%= link_to event.name, event  %>
 </li>
<p><% end  %></p>
<%= link_to "new event", new_event_path %>
