<h2> New User Repo </h2>
<br>
<!-- <form action="/user_repos" method="POST">
  Recipes<input type="hidden" name="Id[]" value="1" />
  <input type="checkbox" checked = "checked"> -->
  <!-- <input type="hidden" name="Id[]" value="85" /> -->
  <!-- you can add as many as input here for id if you want -->
  <!-- <input type="hidden" name="url" value="http://example.com/" /> -->
  <!-- <input type="submit" value="Submit request" />
</form> -->





<form action="/user_repos/<%= @user_repo.id %> ">
<div class="control-group">
    <label class="control control-checkbox">
        Recipes
            <input type="checkbox" value = "Recipes"/>
        <div class="control_indicator"></div>
    </label>

    <label class="control control-checkbox">
        Exercise
            <input type="checkbox" value= "Exercise"/>
        <div class="control_indicator"></div>
    </label>

    <label class="control control-checkbox">
        Events
            <input type="checkbox" value = "Events"/>
        <div class="control_indicator"></div>
    </label>
     <input type="submit" >
</div>
</form>
